In [1]:
import pandas as pd
import numpy as np

In [120]:
df=pd.read_csv("movies.csv")

In [121]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [122]:
df.isna().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [123]:
df.dropna(inplace=True)

In [124]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [125]:
column={'MOVIES':'Movies', 'YEAR':'Year', 'GENRE':'Genre', 'RATING':'Rating', 'ONE-LINE':'One_Line', 'STARS':'Stars', 'VOTES':'Votes',
       'RunTime':'RunTime','Gross':'Gross'}

In [126]:
df=df.rename(columns=column)

In [127]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"\nCrime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"\nAction, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),\nDocumentary,6.5,\nVidal Sassoon is more than just a hairdresse...,\n Director:\nCraig Teper\n| \n Stars:\n...,245,90.0,$0.09M
5770,Men at Lunch,(2012),"\nDocumentary, Mystery",6.3,"\nThe story of ""Lunch atop a Skyscraper,"" the ...",\n Director:\nSeán Ó Cualáin\n| \n Stars...,331,75.0,$0.00M
5835,Decoding Deepak,(2012),\nDocumentary,5.5,"\nDeepak Chopra's son, Gotham, spends a year t...",\n Director:\nGotham Chopra\n| \n Stars:...,124,83.0,$0.01M
6056,Theo Who Lived,(2016),\nDocumentary,6.8,\nA documentary on American journalist Theo Pa...,\n Director:\nDavid Schisgall\n| \n Star...,111,86.0,$0.01M
6292,Southern Justice,(2006),"\nAction, Adventure, Thriller",3.1,"\nM.D. Selig's feature thriller, SOUTHERN JUST...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M

In [128]:
df.duplicated().sum()

0

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460 entries, 77 to 6292
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Movies    460 non-null    object
 1   Year      460 non-null    object
 2   Genre     460 non-null    object
 3   Rating    460 non-null    float64
 4   One_Line  460 non-null    object
 5   Stars     460 non-null    object
 6   Votes     460 non-null    object
 7   RunTime   460 non-null    float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 35.9+ KB

In [130]:
df['Movies']=df['Movies'].str.replace('[Ãx][^A-Za-z]+','')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\2881714741.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Movies']=df['Movies'].str.replace('[Ãx][^A-Za-z]+','')

In [131]:
df['Year']=df['Year'].str.replace('()[[Ãx][^A-Za-z]+','')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\671252438.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Year']=df['Year'].str.replace('()[[Ãx][^A-Za-z]+','')

In [132]:
df['Genre']=df['Genre'].str.replace('\n','')

In [133]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),Documentary,6.5,\nVidal Sassoon is more than just a hairdresse...,\n Director:\nCraig Teper\n| \n Stars:\n...,245,90.0,$0.09M
5770,Men at Lunch,(2012),"Documentary, Mystery",6.3,"\nThe story of ""Lunch atop a Skyscraper,"" the ...",\n Director:\nSeán Ó Cualáin\n| \n Stars...,331,75.0,$0.00M
5835,Decoding Deepak,(2012),Documentary,5.5,"\nDeepak Chopra's son, Gotham, spends a year t...",\n Director:\nGotham Chopra\n| \n Stars:...,124,83.0,$0.01M
6056,Theo Who Lived,(2016),Documentary,6.8,\nA documentary on American journalist Theo Pa...,\n Director:\nDavid Schisgall\n| \n Star...,111,86.0,$0.01M
6292,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"\nM.D. Selig's feature thriller, SOUTHERN JUST...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M

In [134]:
df['One_Line']=df['One_Line'].str.replace('\n','')

In [135]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,\n Director:\nCraig Teper\n| \n Stars:\n...,245,90.0,$0.09M
5770,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",\n Director:\nSeán Ó Cualáin\n| \n Stars...,331,75.0,$0.00M
5835,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",\n Director:\nGotham Chopra\n| \n Stars:...,124,83.0,$0.01M
6056,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,\n Director:\nDavid Schisgall\n| \n Star...,111,86.0,$0.01M
6292,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M

In [136]:
df['Stars']=df['Stars'].str.replace('\n','')

In [137]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,Director:Craig Teper| Stars:Beverly Ad...,245,90.0,$0.09M
5770,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",Director:Seán Ó Cualáin| Stars:Fionnul...,331,75.0,$0.00M
5835,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,$0.01M
6056,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,$0.01M
6292,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,$0.14M

In [138]:
df['Gross']=df['Gross'].str.replace('$','')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\2861824965.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross']=df['Gross'].str.replace('$','')

In [139]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,75.47M
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,402.45M
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,315.54M
125,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,Director:Craig Teper| Stars:Beverly Ad...,245,90.0,0.09M
5770,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",Director:Seán Ó Cualáin| Stars:Fionnul...,331,75.0,0.00M
5835,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,0.01M
6056,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,0.01M
6292,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14M

In [140]:
df['Gross']=df['Gross'].str.replace('M','')

In [144]:
df['Year']=df['Year'].str.replace('(I)','')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\206129135.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Year']=df['Year'].str.replace('(I)','')

In [145]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,75.47
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,402.45
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,89.22
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,315.54
125,Escape Room,() (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,57.01
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,Director:Craig Teper| Stars:Beverly Ad...,245,90.0,0.09
5770,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",Director:Seán Ó Cualáin| Stars:Fionnul...,331,75.0,0.00
5835,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,0.01
6056,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,0.01
6292,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14

In [146]:
df['Year']=df['Year'].str.replace('(','')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\1807718984.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Year']=df['Year'].str.replace('(','')

In [148]:
df['Year']=df['Year'].str.replace(')',' ')

C:\Users\Ramakrishna\AppData\Local\Temp\ipykernel_5736\2365644643.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Year']=df['Year'].str.replace(')',' ')

In [149]:
df

,Movies,Year,Genre,Rating,One_Line,Stars,Votes,RunTime,Gross
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,75.47
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,402.45
95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,89.22
111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,315.54
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,57.01
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,2010,Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,Director:Craig Teper| Stars:Beverly Ad...,245,90.0,0.09
5770,Men at Lunch,2012,"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",Director:Seán Ó Cualáin| Stars:Fionnul...,331,75.0,0.00
5835,Decoding Deepak,2012,Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,0.01
6056,Theo Who Lived,2016,Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,0.01
6292,Southern Justice,2006,"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14

In [150]:
df.to_csv('clean_movies.csv')