In [2]:
#Exercise 1: Print First 10 natural numbers using while loop
# Expected output:
# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9
# 10

#sol)
n=0
while n<10:
    n+=1
    print(n)

1
2
3
4
5
6
7
8
9
10

In [17]:
#2)Write a program to print the following number pattern using a loop.
#sol)
n=int(input("Enter the number :"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number :5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
#3)Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number
#sol)
n=int(input("Enter the number : "))
count=0
while n<11:
    count+=n
    n+=1
print(f' The sum of all numbere from {n} to a given number {count}')

Enter the number : 1
 The sum of all numbere from 11 to a given number 55

In [23]:
#4)Exercise 4: Write a program to print multiplication table of a given number
#sol;
n=int(input("Enter the number : "))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

Enter the number : 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [26]:
#5)Exercise 5: Display numbers from a list using loop
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop
#sol;
numbers = [12, 75, 150, 180, 145, 525, 50]
for x in numbers:
    if x>500:
        break
    elif x>150:
        continue
    if x%5==0:
        print(x)

75
150
145

In [32]:
#6)Write a program to count the total number of digits in a number using a while loop.
#For example, the number is 75869, so the output should be 5.
#sol;
n=75869
count=0
while n!=0:
    n//=10
    count+=1
print(f' the number 75869 ,so the output should be {count}')

 the number 75869 ,so the output should be 5

In [35]:
#7)Write a program to use for loop to print the following reverse number pattern
#sol;
n=int(input("Enter the number : "))
for i in range(0,n+1):
    for j in range(n-i,0,-1):
        print(j,end=" ")
    print()

Enter the number : 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [36]:
#8)Exercise 8: Print list in reverse order using a loop
#sol;
list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [38]:
#9)Exercise 9: Display numbers from -10 to -1 using for loop
#sol;
l=[]
for i in range(-10,0):
    l.append(i)
print(l)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [42]:
#10)Exercise 10: Use else block to display a message “Done” after successful execution of for loop
#For example, the following loop will execute without any error.
#sol;
for i in range(5):
    print(i)
    continue
else:
    print("Done!")

0
1
2
3
4
Done!

In [47]:
#11)Exercise 11: Write a program to display all prime numbers within a range
#A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers
# Examples:
# 6 is not a prime mumber because it can be made by 2×3 = 6
# 37 is a prime number because no other whole numbers multiply together to make it.
# start = 25
# end = 50
# Expected output:
# Prime numbers between 25 and 50 are:
# 29
# 31
# 37
# 41
# 43
# 47
#sol;
start=25
end=50

for n in range(start,end+1):
    if n>1:
        for x in range(2,n):
            if n%x==0:
                break
                
        else:
            print(n)

29
31
37
41
43
47

In [51]:
# 12)The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.							
# For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.							
# Expected output:							
# Fibonacci sequence:							
# 0  1  1  2  3  5  8  13  21  34							
#sol;
n=int(input("Enter the number : "))
num1=0
num2=1
if n>1:
    print("Given number is positive number")
elif n==1:
    print(num1)
count=0
while count<n:
    sum=num1+num2
    num1=num2
    num2=sum
    count+=1
    print(num1,end=" ")

Enter the number : 21
Given number is positive number
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946

In [53]:
#13)Exercise 13: Find the factorial of a given number
#sol;
n=int(input("Enter the number : "))
fact=1
if n<0:
    print("Number is does't not exist")
elif n==0:
    print("The factorial exist 0 to 1")
else:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

Enter the number : 5
120

In [56]:
# 14)Exercise 14: Reverse a given integer number
# Given:
# 76542
# Expected output:
# 24567
#sol;
num=76542
str_revers=str(num)
reveres=str_revers[::-1]
print(reveres)

24567

In [65]:
#15)Exercise 15: Use a loop to display elements from a given list present at odd index positions
#sol;
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
li=[]
for i in range(len(my_list)):
    if (i!=0 and i%2!=0):
        print(i,my_list[i])

1 20
3 40
5 60
7 80
9 100